@model IEnumerable<coreconceptportal.Models.Project>

@{
    ViewBag.Title = "Index";
}


<div>
    <span>Numero de horas para introduzir só com click</span>
    <input class="totalhours" type="number"  />
</div>
<div id="calendar" class="col-md-12" style="margin: 10px;">

</div>




