<h1>Add User</h1>
<div class="ms-body ms-aside-left-open ms-dark-theme ms-has-quickbar">


    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>Draggable Lists</h6>
            <p>Drag and Drop Items between both Lists</p>
        </div>
        <div class="ms-panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="section-title">To Do</h6>
                    <ul class="ms-list ms-sortable-list">
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">border_color</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">rss_feed</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">cloud_download</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h6 class="section-title">In Progress</h6>
                    <ul class="ms-list ms-droppable ms-sortable-list">
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">devices</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">fingerprint</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                        <li class="ms-list-item bordered media">
                            <i class="material-icons align-self-center">graphic_eq</i>
                            <div class="media-body">
                                <h5>Parious Versions has evolved over the years</h5>
                                <p>It is a long established fact that a reader will be distracted by the content</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>