@*@model IEnumerable<coreconceptportal.ViewModels.UserProjectModel>*@

@using coreconceptportal.ViewModels
@model UserProjectModel

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="" style="display: inline-block; padding:10px;">
            <h6 class="section-title">Selecione o Projeto</h6>


            <select id="projectsList" style="width:1200px; height:100px;">

                <option value="" disabled selected> Selecione o projeto</option>

                @foreach (var project in Model.Projects)
                {
                    <option value="@project.ProjectId">@project.Name</option>
                }

            </select>
        </div>

        <div id="usersdiv">

        </div>

    </div>
    <div class="col-md-1"></div>


</div>



@*@section Scripts
    {

    }*@