@*@model IEnumerable<coreconceptportal.ViewModels.UserProjectModel>*@

@using coreconceptportal.ViewModels
@model UserProjectModel
    
<h1>Add User to project</h1>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="" style="display: inline-block">
            <h6 class="section-title">Selecione o Projeto</h6>
            <select id="projectsList">
                <option></option>
                @foreach (var project in Model.Projects)
                {
                    <option value="@project.ProjectId">@project.Name</option>
                }

            </select>
        </div>

        <div class="ms-body ms-aside-left-open ms-has-quickbar">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>O PROJETO SELECIONADO É </h6>
                    <p></p>
                </div>
                <div class="ms-panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="section-title">Funcionários</h6>
                            <ul class="ms-list ms-sortable-list">
                                @foreach (var user in Model.Users)
                                {
                                    <li class="ms-list-item bordered media">
                                        <i class="far fa-user"></i>
                                        <div class="media-body">
                                            <h5>@user.Name</h5>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6 class="section-title">Funcionários Envolvidos no Projeto</h6>
                            <ul class="ms-list ms-droppable ms-sortable-list">
                                @foreach (var user in Model.Users)
                                {
                                    <li class="ms-list-item bordered media">
                                        <i class="far fa-user"></i>
                                        <div class="media-body">
                                            <h5>@user.Name</h5>
                                        </div>
                                    </li>
                                }

                            </ul>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span id="drag">DRAG ME!!</span>
    </div>
        <div class="col-md-1"></div>                     
</div>
