<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    <img width="40" height="20" src="~/Content/img/core_logo_no_bg.png" />
    <div>
        LOGIN INDEX
    </div>
</body>
</html>
