<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LoginLayout</title>
</head>
<body>
    <img width="120" height="40" src="~/Content/img/core_logo_no_bg.png" />
    <div>
        @RenderBody()
    </div>
</body>
</html>
